@import "tailwindcss";

/* Cho phép dùng dark:... bằng class .dark */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f4f6f5;
  --foreground: #333;
  --surface: #fff;
  --bgWrong: #ffdad6;
  --colorWrong: #ba1a1a;

  --tag: #a5d6a7;
  --primary: #123921;

}

/* DARK MODE */
.dark {
  --background: #101713;
  --foreground: #edf3ef;

  --surface: #18211b;

  --bgWrong: #3b2020;
  --colorWrong: #ffb4ab;

  --tag: #294b31;

  --primary: #a5d6a7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-bgWrong: var(--bgWrong);
  --color-colorWrong: var(--colorWrong);

  --color-primary: var(--primary);
  --color-tag: var(--tag);

  --font-sans: var(--font- );
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-toronto), Arial, Helvetica, sans-serif;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

h1 {
  font-size: 2rem;
  color: var(--foreground);
  font-weight: 600;
}

h2 {
  font-size: 1.25rem;
  color: var(--foreground);
  font-weight: 800;
}

/* Tablet */
@media (max-width: 1024px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }
}

/* Mobile */
@media (max-width: 640px) {
  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1rem;
  }
}